<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <h2>{{dict.title}}</h2>
    <p>{{dict.created}}</p>
    <p>{{dict.text}}</p>
    <a href="/news/">Back to news page</a>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>News</title>-->
<!--</head>-->
<!--<body>-->
<!--    <ul>-->
<!--      {% for dict in dicts %}-->
<!--      <li>-->
<!--    &lt;!&ndash;    <a href="/{{ forloop.counter }}">{{dict.title}} {{dict.link}} {{ forloop.counter }}</a>&ndash;&gt;-->
<!--        <a href="/{{ dict.link }}">{{dict.title}} {{dict.link}} </a>-->
<!--      </li>-->
<!--      {% endfor %}-->
<!--    </ul>-->
<!--</body>-->
<!--</html>-->